body{
  background-color: #022e00;
}

html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-title {
  flex: 1;            
  display: flex;
  justify-content: center;  
  align-items: center;

  gap: 30px;
  padding: 15px;
}

.card{
  height: auto;        
  width: 20%;      
  max-width: 113px; 
}

.title-text{
  color: aliceblue;
}

.title-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;

  gap: 30px;
}

.title-buttons button{
  padding: 12px 24px;
  font-size: 18px;

  border-radius: 12px; 
}