.navbar{
    display: flex;
    justify-self: space-between;

    align-items: center;

    background-color: #0b8000;
    padding: 8px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: solid #262626 5px ;
}

.navbar-right{
    display: flex;
    
    gap: 10px;
    margin-left: auto; 
}